html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 28px;
}

/* footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 28px;
    /* background-color: #444444; */
    /* color: #eeeeee;
    font-size: 12px; */
/* } */ 

footer p {
    /* line-height: 28px; */
    margin: 0;
    font-size: 12px;
}

/* footer a {
    color: #ffffff;
    border-bottom: 1px dotted #aaaaaa;
}

footer a:hover {
    text-decoration: none;
    border-bottom-color: #ffffff;
    color: #afd9ff;
} */

#results {
    border: 1px solid #cccccc;
    border-radius: 5px;
    height: 80px;
    padding: 23px;
    /* display: none;  */
    text-align: center;
    font-size: 23px;
    overflow: hidden;
    margin-top: 10px;
}

#results ul {
    margin: 50px 0 0 0;
    padding: 0;
    list-style: none;
}

#results li {
    margin-top: 20px;
}

#chooser {
    margin-top: 20px;
    margin-bottom: 20px;
    /* display: none; */
}

#reminder {
    float: right;
    padding: 0.2rem 0.5rem;
    font-weight: bold
}

#creator {
    float: right;
    padding: 0.2rem 0.5rem;
    font-weight: bold
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* Google Maps */

#gmap_canvas{
    display: none;
}

/* Recommendations from results */

#recommendations{
    display: none;
}

/* Splash Intro CSS */

.intro {
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    background-color: #161616;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
}

.logo{
    position: relative;
    display:inline-block;
    bottom:-20px;
    opacity: 0;
}

.logo.active{
    bottom:0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* Table Styl */
#table {
    display: block;
    margin-top: 0px;
}
th, td {
    border: 1px solid black;
    padding: 5px;
}